/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #444;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    position: relative; /* Para posicionar el botón con respecto al cuerpo */
    min-height: 100vh; 
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/011/680/106/small_2x/barbershop-tools-seamless-pattern-graphics-free-vector.jpg'); 
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #DEB887  ;

}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFDAB9  ;
}

li a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#04243c;

}
.servicios{
    background-color: #e8e8e8;
    color: #ffffff;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Banner Styles */
#banner {
    background: url('') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#banner h2 {
    margin: 0;
    font-size: 3em;
    
}

#banner p {
    font-size: 1.5em;
}

/* Section Styles */
section {
    padding: 40px 0;
    
    border-bottom: 1px solid;
   
}

section h2 {
    
    text-align: center;
    margin-bottom: 20px;
    color: #e5e5e7 ;
    font-family: fantasy;
}

section h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-grid, .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item, .team-member{
    flex: 1 1 30%;
    background-color: #f9f8f8;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.service-item:hover, .team-member:hover {
    transform: translateY(-5px);
}

.service-item h3, .team-member h3 {
    margin-top: 0;
}

/* Opinion Styles */
.opinion {
    background:#f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);
    margin-bottom: 20px;
}

/* Contact Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #eee0b9;
}
article h2{
    color: #DEB887;
}
section h1{
    color: 	#f6f4f3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media {
    margin-bottom: 10px;
}

.social-icon {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

.social-icon:hover {
    color: #ddd;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 200px;
    height: auto;
    .team-grid {
        display: grid;
        grid-template-columns: 1fr; /* Columna única para un solo miembro */
        gap: 20px; /* Espacio entre los miembros del equipo */
    }
    
    .team-member {
        display: flex;
        align-items: center; /* Alinea verticalmente el contenido */
        justify-content: center; /* Centra horizontalmente el contenido */
        background-color: #f0f0f0; /* Color de fondo opcional para el miembro */
        padding: 20px; /* Espaciado interior */
    }
    
    .team-member .team-image {
        max-width: 200%; /* Asegura que la imagen no sea más ancha que su contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente */
        margin-right: 20px; /* Espacio entre la imagen y el texto */
    }
    
    .team-member .member-info {
        flex: 1; /* Ocupa todo el espacio disponible */
    }
    
    .team-member h3 {
        margin-top: 0; /* Elimina el margen superior del título */
        font-size: 1.2em; /* Tamaño de fuente del título */
    }
    
    .team-member p {
        margin-bottom: 0; /* Elimina el margen inferior del párrafo */
        font-size: 1em; /* Tamaño de fuente del párrafo */
    }
    
}
section.catalogo {
    padding: 20px;
}
.producto {
    
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 40px); /* Ajusta según tus necesidades */
    box-sizing: border-box;
    text-align: center;
    
}
figcaption{
    color: #fefdfc;
}
.producto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #0e0e0d;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.producto h2 {
    font-size: 1.2em;
    margin: 10px 0;
}
.producto p {

    font-size: 1em;
    color: #f5f6f5;
}
.producto .precio {
    font-size: 1.2em;
    color: #efe9e9;
    margin-top: 10px;
}

.logo-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.title {
    font-size: 2em;
    margin: 0;
}
.back-button {
    position:fixed;
    bottom: 20px;
    left: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.back-button:hover {
    background-color: #c82333;
}

.next-button {
    position:fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.next-button:hover {
    background-color: #218838
}
